.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.about__triangle {
    display: block;
    width: 100%;
    height: 6.875rem;
}

.about__triangle--left {
    fill: $primary-color;
}

.about__triangle--right {
    fill: $pimary-extra-color;
}

.about__first-block-wrapp {
    width: 50%;
    background-color: $primary-color;
}

.about__second-block-wrapp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;
    width: 50%;
    background-color: $pimary-extra-color;
}


.about__caption {
    position: relative;
    color: #373e42;
    text-transform: uppercase;
    text-align: center;
    font-size: 5em;
    background: url(../img/about_header.png) no-repeat center center ; 
    margin-top: 0;
}

.about__caption::after,
.about__subtitle::after {
    content: "";
    position: absolute;
    left: 45%;
    bottom: -20%;
    width: 90px;
    height: 4px;
    background-repeat: no-repeat;
    background-color: #373e42;
}

.about__subtitle {
    position: relative;
    color: $light-grey;
    text-transform: uppercase;
    font-size: 2.5em;
}

.about__caption,
.about__subtitle,
.about__skils-caption {
    font-family: 'Sansus-Webissimo' , sans-serif;
}

.about__text {
    max-width: 415px;
    margin: 0 auto;
    font-family: 'Roboto' , sans-serif;
    font-size: 1.5em;
    text-align: left;
    margin-top: 20px;
    color: $light-grey;
    margin-bottom: 20px;
}

.about__text--margin {
    margin-bottom: 120px;
}

.about__frontend-skils,
.about__backend-skils,
.about__workflow-skils {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}

.scill-circle {
    width: 6.8rem;
    height: 6.8rem;
    transform: rotate(-90deg);
}

.about__skils-caption {
    position: relative;
    text-transform: uppercase;
    color: $light-grey;
    font-size: 3em;
    line-height: 50px;
    margin-top: 25px;
}

.about__skils-caption::before {
    content: ""; 
    position: absolute; 
    left: 50%; 
    bottom: -25px; 
    width: 90px; 
    margin-left: -45px; 
    height: 4px; 
    background-repeat: no-repeat; 
    background-color: #566358;
}

.about_text-interests {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    color: $light-grey;
    font-size: 1.2em;
    font-family: 'Roboto' , sans-serif;
    margin-bottom: 70px;
}

.about__name-of-activity {
    font-family: 'Roboto' , sans-serif;
    font-weight: medium;
    font-size: 2.5em;
    color: $light-grey;
    margin-bottom: 0;
    text-align: left;
    margin-left: 16%;
}

.intro_socials-wrapp--about a{
    color: #fff ;
}

.intro_socials-wrapp--about {
    margin-bottom: 0;
    padding-top: 0;
}

@media screen and (max-width: 767px) {
    .about {
        flex-direction: column;
    }
    .about__triangle--right {
        fill: $primary-color;
    }
    .about__image {
        width: 100%;
    }
    .about__caption {
        margin-top: 20px;
        padding-top: 40px;

    }
    .about__caption::after, 
    .about__subtitle::after {
        left: 50%;
        margin-left: -45px
    }
    .about__first-block-wrapp,
    .about__second-block-wrapp {
        width: 100%;
    }

    .about__name-of-activity {
        margin-left: 0;
        text-align: center;
    }
    .about__frontend-skils, 
    .about__backend-skils, 
    .about__workflow-skils {
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about__text,
    .about_text-interests,
    .about__frontend-skils,
    .about__backend-skils {
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media screen and (max-width: 768px) {
    .about__text {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 1100px) {
    .about__text {
        padding-left: 20px;
        padding-right: 20px;
    }
}