.contacts-wrapp {
    
    z-index: 10;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: rgba(246, 246, 242, 0.9);
    margin: 0 auto;
    width: 380px;
}


.contacts-wrapp__title {
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    color: $light-grey;
    font-family: 'Sansus-Webissimo' , sans-serif;
    font-size: 2.3em;
    margin-bottom: 70px;
    margin-top: 20px;
}

.contacts-wrapp__title::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -31px;
    width: 90px;
    margin-left: -45px;
    height: 4px;
    background-repeat: no-repeat;
    background-color: $light-grey;
}

.contacts-wrapp__icon {
    position: relative;
    color: $light-grey;
    font-size: 1.1em;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 40px;
    
}

.contacts-wrapp__icon i{
    position: absolute;
    color: $light-green;
    font-size: 1.5em;
    width: 25px;
    height: 25px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.contacts-wrapp__icon span {
    padding-left: 40px;
}

.contacts-wrapp a:last-child {
    margin-bottom: 40px;
}

@media screen and (max-width: 767px)  {
    .contacts-wrapp {
        width: 100%;
    }
}

