.header{
	display: flex; 
	justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.header__menu a{
  font-size: 3em;
  color: #fff;
}

.header--pages {
  position: fixed;
  width: 100%;
}


@media screen and (max-width: 767px) {
    .header{
      align-items: center;
    }
  }



  