.body-index {
    background: url(../img/index-bg-1800.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    min-width: 320px;
    background-color: rgba(18, 38, 32, 0.6);
    border-radius: 5px;
    padding-top: 40px;
    margin: 0 auto;
    margin-top: 8%;

        &_socials-wrapp {
            margin-top: 20px;
            margin-bottom: 40px;
                a {
                color: rgba(142, 156, 153, 1);
                font-size: 30px;
                transition: all 0.5s;
                    &:hover {
                        color: rgb(78, 136, 57);
                    }
                }
                &intro_socials {
                    &fa-github-alt {
                        padding-left: 25px;
                        padding-right: 25px;
                    }
                }
        }
        &_selfie {
            border-radius: 50%;
        }
        &_links {
            width: 100%;
            display: inherit;
            background-color: #629055;
            border-radius: 0 0 5px 5px;
            
                div {
                    flex-grow: 1;
                    text-align: center;
                }
                a {
                    display: block;
                    font-family: 'Roboto-Regular' , sans-serif;
                    padding: 15px;
                    font-size: 1.1rem;
                    font-weight: bold;
                    color: #fff;
                    transition: all 0.5s;
                        &:hover {
                            background-color: rgb(73, 128, 57);
                        }
                }
                &__about {
                   border-left: 2px solid rgba(222, 227, 231, 0.6);
                   border-right: 2px solid rgba(222, 227, 231, 0.6);
                }
        }
}

.fa-github-alt {
    padding-left: 25px;
    padding-right: 25px;
}

@media screen and (max-width: 767px) {
    .intro {
        justify-content: center;
        padding-top: 30px;
        margin-top: 0;
        height: 100vh;
        width: 100vw;
        min-height: 580px;
    }

    .body-index {
        background: url(../img/index-bg-iphone.png) no-repeat; 
        background-size: cover;
    }
}