.maps-contact {
    position: relative;
    min-height: 1100px;
    background: url(../img/map.png) no-repeat center center ; 

    background-color: $light-grey;
}

.maps-contact__iframe {
    width: 100%;
    min-height: 1300px;
}

@media screen and (max-width: 767px) {
    .maps-contact {
        background: url(../img/map-iphone.png) no-repeat;
        background-size: cover;
        padding-bottom: 500px;
        padding-top: 200px; 
    }
}