.pre-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../img/index-bg-1800.png) no-repeat center center; 
    height: 37.5rem;
    padding-top: 130px;
}

.user-info_about {
    background: url(../img/portfolio_header.png) no-repeat center center; 
}

.pre-info__angle-down {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 3em;
    margin: 0 auto;
}