.user-info {
    text-align: center;
}

.user-info_name {
    margin-top: 25px;
    margin-bottom: 0;
    font-family: 'Sansus Webissimo' , sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #fff
}

.user-info_subtitle {
    margin-top: 2px;
    color: #fff;
    font-family: 'Sansus Webissimo' , sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
}