$primary-color: rgb(235, 239, 226);
$pimary-extra-color: rgb(244, 245, 240);
$light-green: rgb(108, 156, 90);
$light-green-opacity: rgba(108, 156, 90, 0.8);
$strong-green: rgb(78, 136, 57);
$strong-green-opacity: rgba(78, 136, 57, 0.9);
$light-grey: rgb(86, 99, 88);
$strong-grey: rgb(55, 62, 66);