@font-face {
    font-family:'FontAwesome';
    src: url('../fonts/FontAwesome-Regular.eot');
	src: url('../fonts/FontAwesome-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FontAwesome-Regular.woff2') format('woff2'),
		url('../fonts/FontAwesome-Regular.woff') format('woff'),
		url('../fonts/FontAwesome-Regular.svg#FontAwesome-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00D8;
}

@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
	src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Bold.woff2') format('woff2'),
		url('../fonts/Roboto-Bold.woff') format('woff'),
		url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto-Bold-Italic.eot');
	src: url('../fonts/Roboto-Bold-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Bold-Italic.woff2') format('woff2'),
		url('../fonts/Roboto-Bold-Italic.woff') format('woff'),
		url('../fonts/Roboto-Bold-Italic.svg#Roboto-Bold-Italic') format('svg');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto-Italic.eot');
	src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Italic.woff2') format('woff2'),
		url('../fonts/Roboto-Italic.woff') format('woff'),
		url('../fonts/Roboto-Italic.svg#Roboto-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto-Light.eot');
	src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Light.woff2') format('woff2'),
		url('../fonts/Roboto-Light.woff') format('woff'),
		url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto-Light-Italic.eot');
	src: url('../fonts/Roboto-Light-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Light-Italic.woff2') format('woff2'),
		url('../fonts/Roboto-Light-Italic.woff') format('woff'),
		url('../fonts/Roboto-Light-Italic.svg#Roboto-Light-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
	src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Medium.woff2') format('woff2'),
		url('../fonts/Roboto-Medium.woff') format('woff'),
		url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto-Medium-Italic.eot');
	src: url('../fonts/Roboto-Medium-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Medium-Italic.woff2') format('woff2'),
		url('../fonts/Roboto-Medium-Italic.woff') format('woff'),
		url('../fonts/Roboto-Medium-Italic.svg#Roboto-Medium-Italic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto.eot');
	src: url('../fonts/Roboto.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto.woff2') format('woff2'),
		url('../fonts/Roboto.woff') format('woff'),
		url('../fonts/Roboto.svg#Roboto') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family:'Sansus-Webissimo';
    src: url('../fonts/Sansus-Webissimo.eot');
	src: url('../fonts/Sansus-Webissimo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Sansus-Webissimo.woff2') format('woff2'),
		url('../fonts/Sansus-Webissimo.woff') format('woff'),
		url('../fonts/Sansus-Webissimo.svg#Sansus-Webissimo') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}